.profile__add-button {
    width: 150px;
    min-height: 50px;
    background-image: url(../../../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #FFFFFF;
    align-self: center;
    margin-left: 244px;
    margin-right: 0px;
    outline: none;
    cursor: pointer;
    background-color: #000;
}

.profile__add-button:hover {
    opacity: 0.3;
}

@media screen and (max-width: 900px) {
    .profile__add-button {
        margin: 0 auto;
    }
}
